@page "/encrypt"

<h1>Encrypt!</h1>
<p>
    <label for="plaintext">PlainText:</label>

    <textarea class="form-control" rows="5" id='text'@bind="plaintext" name="plaintext" placeholder="Enter your secret."></textarea>
</p>
<p>
    <label for="key">Key:</label>
    <input @bind="key" name="Key" />
</p>
   <p>

   </p>     
<label for="EncryptedMessage">EncryptedMessage:</label>
<input @bind="EncryptedMessage" />
<button @onclick="ExecuteEncrypt">Encrypt</button>

@code{
    private opensequence.Cryptamatic5k.SecretItem newSecret = new opensequence.Cryptamatic5k.SecretItem();
    private opensequence.Cryptamatic5k.SecretItemJson newSecretJson = new opensequence.Cryptamatic5k.SecretItemJson();
    private string plaintext;
    private string key;
    private string json;
    private string EncryptedMessage;
    
    private void ExecuteEncrypt()
    {
        //TODO-NOW Derive key from password (figure out reliably way to do this)
//TODO-NOW Add try catches to handle exeception gracefully (popup's or something?)
        //assign plaintext message to .plaintextMessage property
        newSecret.PlaintextMessage = plaintext;
        
        // Assign values to JSON class
        newSecretJson.PlaintextMessage = newSecret.PlaintextMessage;
        newSecret.Key = System.Text.Encoding.ASCII.GetBytes(key);
        newSecretJson.Key = newSecret.Key;
        
        //Convert object to JSON
        json = newSecretJson.ConvertToJson();
        
        //Encrypt JSON string and display to user
        EncryptedMessage = newSecret.Encrypt(json);


    }
}

