@page "/encrypt"

<h1>Encrypt!</h1>
<p>
    <label for="plaintext">PlainText:</label>

    <textarea class="form-control" rows="5" id='text'@bind="plaintext" name="plaintext" placeholder="Enter your secret."></textarea>
</p>
<p>
    <label for="passsword">Password:</label>
    <input @bind="password" name="Password" />
</p>
<p>
    <label for="EncryptedMessage">EncryptedMessage:</label>
<textarea class="form-control" rows="5" id='text' @bind="EncryptedMessage" name="EncryptedMessage" placeholder=""></textarea>
    <button @onclick="ExecuteEncrypt">Encrypt</button>
</p>     


@code{
    private opensequence.Cryptamatic5k.SecretItem newSecret = new opensequence.Cryptamatic5k.SecretItem();
    private opensequence.Cryptamatic5k.SecretItemJson newSecretJson = new opensequence.Cryptamatic5k.SecretItemJson();
    private string plaintext;
    private string password;
    private string json;
    private string EncryptedMessage;
    
    private void ExecuteEncrypt()
    {
        //TODO-NOW Derive key from password (figure out reliably way to do this)
//TODO-NOW Add try catches to handle exeception gracefully (popup's or something?)
        //assign plaintext message to .plaintextMessage property
        newSecret.PlaintextMessage = plaintext;
        
        // Assign values to JSON class
        newSecretJson.PlaintextMessage = newSecret.PlaintextMessage;
        
        //Convert object to JSON
        json = newSecretJson.ConvertToJson();
        
        //Encrypt JSON string and display to user
        EncryptedMessage = newSecret.Encrypt(json, password);


    }
}

