@page "/encrypt"

<h1>Encrypt!</h1>
<p>
    <label for="plaintext">PlainText:</label>

    <textarea class="form-control" rows="5" id='text'@bind="plaintext" name="plaintext" placeholder="Enter your secret."></textarea>
</p>
<p>
    <label for="key">Key:</label>
    <input @bind="newSecret.Key" name="Key" />
</p>
   <p>

   </p>     
<label for="IV">EncryptedMessage:</label>
<input @bind="base64EncryptedMessage" />
<button @onclick="ExecuteEncrypt">Encrypt</button>
<button @onclick="ExecuteDecrypt">Decrypt</button>
@code{

    private SecretItem newSecret = new SecretItem();
    private SecretItemJson newSecretJson = new SecretItemJson();
    private string plaintext;
    private string json;
    private string base64EncryptedMessage;
    private void ExecuteEncrypt()
    {
        //assign paintext message to .plaintextMessage property
        newSecret.PlaintextMessage = plaintext;
        // Assign values to JSON class
        newSecretJson.PlaintextMessage = newSecret.PlaintextMessage;
        newSecretJson.Key = newSecret.Key;
        //Convert object to JSON
        json = newSecretJson.ConvertToJson();
        //Encrypt JSON string and display to user
        base64EncryptedMessage = newSecret.Encrypt(json);
    }
        private void ExecuteDecrypt()
    {
        plaintext = newSecret.Decrypt(Convert.FromBase64String(base64EncryptedMessage));
    }
}

